<p>Sign in to continue.</p>
<form name="login" ng-submit="submit()" novalidate ng-controller="loginController">
	<div class="form-row">
            <p class="help-block">{{errorMessage}}</p>
            <div class="input-group">
                <input class="form-control" autocomplete="email" type="email" placeholder="Email"
                    name="email" ng-model="user.email" disable-Validators>
                <span class="form-control-feedback text-muted fui-mail"></span>
            </div>
    </div>
    <div class="form-row">
            <div class="input-group">
                <input class="form-control" autocomplete="password" type="password" placeholder="Password"
                    name="password" ng-model="user.password" disable-Validators>
                <span class="form-control-feedback text-muted fui-lock"></span>
            </div>
    </div>
    <div class="form-row">
            <input type="checkbox" id="rememberCheckbox" value="remember">
            <label for="rememberCheckbox">Remember Me</label>

            <div class="pull-right"><a href="/reset">Forgot Password?</a></div>
    </div>
    <div class="form-row">
            <button type="submit" class="btn btn-info">
            	Sign In
            </button>
    </div>
    </form>
        <p style="margin-top:30px;"> Don't have an account? </p>
    <div class="row" style="margin-top:0;">
            <a href="/register" role="button" class="btn btn-default">
            	Create Account
            </a>
    </div>