<p>Create an account!</p>
<form name="form" id="registerForm" ng-submit="submit()" novalidate ng-controller="registerController">

    <p class="alert alert-danger error-message" ng-if="errorMessage != undefined">{{errorMessage}}</p>

    <div class="form-row"> <!-- Email -->
        <label for="register_email" class="control-label">Email</label>           
        <ng-messages for="form.email.$error" class="help-block" ng-if='form.email.$dirty'>
            <ng-message when="required">Please enter an email</ng-message>
            <ng-message when="email">Please enter a valid email</ng-message>
        </ng-messages>
            <div class="input-group">
                <input class="form-control" autocomplete="email" type="email" placeholder="Enter email" id="register_email" 
                    name="email" ng-model="user.email" required ng-model-options="{updateOn: 'blur'}" api-error>
                <icon-feedback input="email" fui-icon="mail"></icon-feedback>
            </div>
    </div>
    <div class="form-row"> <!-- Password 1 -->

        <label for="register_pass1" class="control-label">Password</label>
        <ng-messages for="form.password.$error" class="help-block" ng-if='form.password.$dirty'>
            <ng-message when="required">Please enter a password</ng-message>
            <ng-message when="equals">Your passwords do not match</ng-message>
        </ng-messages>
            <div class="input-group">
                <input class="form-control" autocomplete="password" type="password" placeholder="Enter password" id="register_pass1" 
                    name="password" ng-model="user.password" equals="{{user.password_confirmation}}" required ng-model-options="{updateOn: 'blur'}">
                <icon-feedback input="password" fui-icon="lock"></icon-feedback>
                
            </div>
    </div>
    <div class="form-row"> <!-- Password 2 -->
        <label for="register_pass2" class="control-label">Confirm Password</label>
        <ng-messages for="form.password_confirmation.$error" class="help-block" ng-if='form.password_confirmation.$dirty'>
          <ng-message when="required">Please confirm your password</ng-message>
        </ng-messages>
            <div class="input-group">
                <input class="form-control" autocomplete="off" type="password" placeholder="Re-enter password" id="register_pass2"
                    name="password_confirmation" equals="{{user.password}}" ng-model="user.password_confirmation" required>
                <icon-feedback input="password_confirmation" fui-icon="lock"></icon-feedback>

            </div>
    </div>

    <div class="form-row form-name"> <!-- Name -->
        <label for="register_name" class="control-label">Name</label>
        <p ng-show="form.fname.$invalid && form.fname.$dirty || form.lname.$invalid && form.lname.$dirty" class="help-block">Please enter your name.</p>
                <div class="input-group">
                    <input class="form-control" autocomplete="fname" type="text" placeholder="First Name" id="register_name"
                        name="fname" ng-model="user.first_name" required ng-model-options="{updateOn: 'blur'}">
                  <icon-feedback input="fname" fui-icon="user"></icon-feedback>
                </div>

            <div class="input-group">
                    <input class="form-control" autocomplete="lname" type="text" placeholder="Last Name"
                        name="lname" ng-model="user.last_name" required ng-model-options="{updateOn: 'blur'}">
                    <icon-feedback input="lname" fui-icon="user"></icon-feedback>
            </div>
    </div>

    <div class="form-row"> <!-- Role -->
        <label for="register_role" class="control-label">Role</label>
                <div class="input-group">
                    <select class="form-control" id="register_role"
                         name="role" ng-model="user.role" ng-options="value.id as value.value for value in objects" required>
                    </select>
                    <span class="form-control-feedback text-muted fui fui-triangle-down"></span>
                </div>
    </div>

    <div ng-if="user.role == 'Instructor'" class="form-row"> <!-- Organization (conditional) -->
        <label for="register_institution" class="control-label">Organization</label>           
        <ng-messages for="form.organization.$error" class="help-block" ng-if='form.organization.$dirty'>
          <ng-message when="required">Please enter an organization</ng-message>
        </ng-messages>
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Enter organization" id="register_organization" 
                    name="organization" ng-model="user.organization" required ng-model-options="{updateOn: 'blur'}">
                <icon-feedback input="organization" fui-icon="home"></icon-feedback>
            </div>
    </div>
    <div class="form-row"> <!-- Submit Button -->
            <button type="submit" class="btn btn-info">
                Create Account
            </button>
    </div>
    </form>
        <p style="margin-top:30px;"> Already have an account? </p>
    <div class="row">
            <a href="/login" role="button" class="btn btn-default">
                Sign In
            </a>
    </div>