// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "loginPanel.less";
@import "fourohfour.less";
@import "dashboard.less";

body{
	background-color: @gray-lighter;
}

h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
}

#copyright{
	font-size: @font-size-small;
}