<div class="row">
	<div class="col-xs-10 col-sm-12 dashInfo">
		<h2>{{course.name}}</h2
		<h4>{{course.start | date}} – {{course.finish | date}}</h4>
	</div>
	<div class="col-xs-2 visible-xs dashInfo">
		<h2><i class="fui fui-plus" tabindex=0 hm-tap="openSessionModal()"></i></h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-no-pad">
		<table class="table table-hover table-upcoming">
			<thead>
				<tr>
					<th>Upcoming Sessions</th>
					<th  ng-if="!mobile" class="hidden-xs" id="createSession" hm-tap="openSessionModal()"><i class="fui fui-plus"></i></th>
				</tr>
			</thead>
			<tbody>
				<tr session-row ng-repeat="session in upcoming"></tr>
			</tbody>
		</table>
	</div>
	<div class="col-xs-12 col-sm-6 col-no-pad">
		<table class="table table-hover table-past">
			<thead>
				<tr>
					<th>Past Sessions</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr session-row ng-repeat="session in past"></tr>
			</tbody>
		</table>
	</div>
</div>