<div ui-view / >

<div class="row">
	<div class="col-xs-10 col-sm-12 dashInfo">
		<h2>{{course.name}}</h2>
		<h4>{{course.start | date}} – {{course.finish | date}}</h4>
	</div>
	<div class="col-xs-2 visible-xs dashInfo">
		<h2><i class="fui fui-plus" tabindex=0 hm-tap="openAddSessionModal()"></i></h2>
	</div>
</div>

<div class="row courseInfo" ng-if="currentUser.role == 'Instructor'">
	<div class="col-xs-6 col-sm-3">
		<div class="course-stat stat-enroll" id="stat-green" hm-tap="openEnrollmentCodeModal()">
			<span class="fui fui-alert-circle"></span>
			<div class="object">
				<h4>{{course.enrollment_token}}</h4>
				<h3>Enrollment Code</h3>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-sm-3">
		<div class="course-stat stat-students" id="stat-blue" hm-tap="openStudentsModal()">
			<span class="fui fui-user"></span>
			<div class="object">
				<h4>{{course.enrolled_students.length}}</h4>
				<h3>Students</h3>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-sm-3">
		<div class="course-stat stat-sessions" id="stat-red" hm-tap="openSessionsModal()">
			<span class="fui fui-tag"></span>
			<div class="object">
				<h4>{{sessions.length}}</h4>
				<h3>Sessions</h3>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-sm-3">
		<div class="course-stat stat-questions" id="stat-purple">
			<span class="fui fui-chat"></span>
			<div class="object">
				<h4>456</h4>
				<h3>Questions</h3>
			</div>
		</div>
	</div>
</div>

<div class="row" ng-if="currentUser.role == 'Instructor'">
	<div class="col-xs-12 col-sm-6 col-no-pad" id="upcoming-sessions">
		<table class="table table-hover table-upcoming">
			<thead>
				<tr>
					<th>Upcoming Sessions</th>
					<th  ng-if="!mobile" class="hidden-xs" id="createSession" hm-tap="openAddSessionModal()"><i class="fui fui-plus"></i></th>
				</tr>
			</thead>
			<tbody>
				<tr session-row ng-repeat="session in upcoming = (sessions | filter : upcomingFilter | orderBy:'date':false)" ng-class="{true: 'session-row-next'}[$first]"  ui-sref="sessions.edit({sessionId: session.id})"></tr>
				<tr ng-if="!upcoming.length"><td>No Upcoming Sessions</td><td></td></tr>
			</tbody>
		</table>
	</div>
	<div class="col-xs-12 col-sm-6 col-no-pad" id="past-sessions">
		<table class="table table-hover table-past">
			<thead>
				<tr>
					<th>Past Sessions</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr session-row ng-repeat="session in past = (sessions | filter : pastFilter | orderBy:'date':true)" ui-sref="sessions.read({sessionId: session.id})"></tr>
				<tr ng-if="!past.length"><td>No Past Sessions</td><td></td></tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row" ng-if="currentUser.role == 'Student'">
	<div class="col-xs-12 col-sm-6 col-no-pad" id="current-sessions" ng-if="(sessions | filter : {active: true}).length > 0">
		<table class="table table-hover table-current">
			<thead>
				<tr>
					<th>In Session</th>
					<th  ng-if="!mobile" class="hidden-xs" id="createSession" hm-tap="openAddSessionModal()"><i class="fui fui-plus"></i></th>
				</tr>
			</thead>
			<tbody>
				<tr session-row ng-repeat="session in current = (sessions | filter : {active: true} | orderBy:'date':false)" ui-sref="sessions.answer({sessionId: session.id})"></tr>
			</tbody>
		</table>
	</div>
	<div class="col-xs-12 col-sm-6 col-no-pad" id="past-sessions">
		<table class="table table-hover table-past">
			<thead>
				<tr>
					<th>Past Sessions</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr session-row ng-repeat="session in past = (sessions | filter : {active: false} | orderBy:'date':false)" ng-class="{true: 'session-row-next'}[$first]"  ui-sref="sessions.read({sessionId: session.id})"></tr>
				<tr ng-if="!past.length"><td>No Past Sessions</td><td></td></tr>
			</tbody>
		</table>
	</div>
</div>