<div class="row">
	<div class="col-xs-12 dashInfo">
		<ol class="breadcrumb">
		  <li><a ui-sref="dashboard.courses">Courses</a></li>
		  <li><a ui-sref="dashboard.coursesDetail({courseId: course.id})">{{course.name}}</a></li>
		  <li>{{session.name}}</li>
		</ol>
		<div class="dashInfo-stack">
			<h2>{{session.name}}</h2>
			<h4>{{session.date | date}}</h4>
		</div>
	</div>
</div>

<div class="btn-group btn-group-add-question" dropdown>
	<div class="add-question" dropdown-toggle><i class="fui fui-new"></i></div>
      <ul class="dropdown-menu" role="menu">
        <li hm-tap="addMCQuestion()"><a>Mulitple Choice</a></li>
        <li hm-tap="addSAQuestion()"><a>Short Answer</a></li>
        <li hm-tap="addFIQuestion()"><a>Fill-in the Blank</a></li>
        <li hm-tap="addNUQuesiton()"><a>Number</a></li>
        <li class="divider"></li>
        <li><a>Cancel</a></li>
      </ul>
</div>

<div class="question-control-container" sv-root sv-part="questions" sv-on-sort="onSort($indexFrom, $indexTo)">
	<div sv-placeholder class="question-thumb-placeholder"></div>
    <div tabindex="0" id="{{'question-thumb-' + $index}}" class="question-thumb" ng-repeat='question in questions ' sv-element ui-sref="questionsDetail({index: $index, questionId: questions[$index].id})" ui-sref-active="question-active">
	    <div class="question-index">{{$index + 1}}</div>
	    <h2>{{question.name}}</h2>
	    <ul>
	    	<li ng-repeat="answer in question.answers track by $index">{{answer.name}}</li>
	    </ul>
    </div>
    <div tabindex="0" class="question-thumb" hm-tap="addMCQuestion()" ng-if='!questions.length'>
	    <i class="fui fui-plus"></i>
    </div>
</div>

<div class="question-container">
		<div ng-if="!question.length" class="question-empty">
			<div class="vertAlign">
				<img src="img/question-empty.svg">
				<h1>No questions yet!</h1>
				<h3>Add one 
					<span ng-if="horiz">above</span>
					<span ng-if="!horiz">on the left</span>
				</h3>
			</div>
		</div>
		<div ui-view></div>
</div>