<div class="row">
	<div class="col-xs-8 col-sm-8 col-md-9 dashInfo">
		<ol class="breadcrumb">
		  <li><a ui-sref="dashboard.courses">Courses</a></li>
		  <li><a ui-sref="dashboard.coursesDetail({courseId: course.id})">{{course.name}}</a></li>
		  <li>{{session.name}}</li>
		</ol>
		<div class="dashInfo-stack">
			<h2>{{session.name}}</h2>
			<h4>{{session.date | date}}</h4>
		</div>
	</div>

	<div class="hidden-xs col-sm-1 col-md-1 dashInfo">
		<div class="dropdown dropdown-student-indicator" dropdown ng-if="session.active">
			<div id="student-indicator" dropdown-toggle>
				<div id="student-indicator-icon"><i class="fui fui-user"></i></div>
				<div id="student-indicator-num">{{connectedStudents.length}}</div>
			</div>
			<ul class="dropdown-menu student-dropdown-menu" ng-if="connectedStudents.length" role="menu">
				<!-- ng-if="session.activeStudents > 0" -->
				<!-- <li ng-reapeat="student in session.activeStudents">{{student}}</li> -->
				<li ng-repeat="student in connectedStudents" ui-sref="studentsDetail({studentId: student.id})"> <span class="online-indicator"></span>{{student.first_name + " " + student.last_name}}</li>
			</ul>
		</div>
	</div>

	<div class="col-xs-4 col-sm-3 col-md-2 dashInfo">
		<div ng-if="session.active" class="btn-md btn-danger btn-flat" hm-tap="sessionActivate(false)">End Session</div>
		<div ng-if="!session.active" class="btn-md btn-success btn-flat" hm-tap="sessionActivate(true)">Start Session</div>
	</div>
</div>

<div class="btn-group btn-group-add-question" dropdown>
	<div class="add-question" dropdown-toggle><i class="fui fui-new"></i></div>
      <ul class="dropdown-menu" role="menu">
        <li hm-tap="addMCQuestion()"><a>Mulitple Choice</a></li>
        <li hm-tap="addSAQuestion()"><a>Short Answer</a></li>
        <li hm-tap="addFIQuestion()"><a>Fill-in the Blank</a></li>
        <li hm-tap="addNUQuesiton()"><a>Number</a></li>
        <li class="divider"></li>
        <li><a>Cancel</a></li>
      </ul>
</div>

<div class="question-control-container" sv-root sv-part="questions" sv-on-sort="onSortQuestion($indexFrom, $indexTo)">
	<div sv-placeholder class="question-thumb-placeholder"></div>
    <div tabindex="0" id="{{'question-thumb-' + $index}}" class="question-thumb" ng-repeat='question in questions ' sv-element ui-sref="questionsEdit({index: $index, questionId: question.id})" ui-sref-active="question-active">
	    <div class="question-index">{{$index + 1}}</div>
	    <h2>{{question.name}}</h2>
	    <ul>
	    	<li ng-repeat="answer in question.answers track by $index">{{answer.name}}</li>
	    </ul>
    </div>
    <div tabindex="0" class="question-thumb" hm-tap="addMCQuestion()" ng-if='!questions.length'>
	    <i class="fui fui-plus"></i>
    </div>
</div>

<div class="presentation-control">
	<div ng-if="!canPrev" id="empty-canPrev"></div>
	<div ng-if="canPrev" class="prev-question" hm-tap="goToPrevQuestion()"><i class="fui fui-arrow-left"></i></div>
	<div class="toggle-fullscreen" hm-tap="launchPresentation()"><i class="fui fui-play"></i></div>
	<div ng-if="canNext" class="next-question" hm-tap="goToNextQuestion()"><i class="fui fui-arrow-right"></i></div>
</div>

<div class="question-container" id="present">
		<div ng-if="!questions.length" class="question-empty">
			<div class="vertAlign">
				<img src="img/question-empty.svg">
				<h1>No questions yet!</h1>
				<h3>Add one 
					<span ng-if="horiz">above</span>
					<span ng-if="!horiz">on the left</span>
				</h3>
			</div>
		</div>
		<div ui-view></div>
</div>