<div class="row">
	<div class="col-xs-12 dashInfo">
		<ol class="breadcrumb">
		  <li><a ui-sref="dashboard.courses">Courses</a></li>
		  <li><a ui-sref="dashboard.coursesDetail({courseId: course.id})">{{course.name}}</a></li>
		  <li>{{session.name}}  | Read-only</li>
		</ol>
		<div class="dashInfo-stack">
			<h2>{{session.name}}</h2>
			<h4>{{session.date | date}}</h4>
		</div>
	</div>
</div>

<div class="presentation-control">
	<div ng-if="!canPrev" id="empty-canPrev"></div>
	<div ng-if="canPrev" class="prev-question" hm-tap="goToPrevQuestion()"><i class="fui fui-arrow-left"></i></div>
	<div><i class="fui fui-search"></i></div>
	<div ng-if="canNext" class="next-question" hm-tap="goToNextQuestion()"><i class="fui fui-arrow-right"></i></div>
</div>

<div class="session-read">
	<div class="question-control-container">
	    <div tabindex="0" id="{{'question-thumb-' + $index}}" class="question-thumb" ng-repeat='question in questions ' ui-sref="questionsRead({index: $index, questionId: question.id})" ui-sref-active="question-active">
		    <div class="question-index">{{$index + 1}}</div>
		    <h2>{{question.name}}</h2>
		    <ul>
		    	<li ng-repeat="answer in question.answers track by $index">{{answer.name}}</li>
		    </ul>
	    </div>
	</div>

	<div class="question-container" id="present">
			<div ui-view></div>
	</div>
</div>