<div class="row">
	<div class="col-xs-12 dashInfo dashInfo-crumbOnly">
		<ol class="breadcrumb">
		  <li><a ui-sref="dashboard.students">Students</a></li>
		  <li>Student Info</li>
		</ol>
	</div>
</div>

<div class="studentsDetail">

<div class="row student-focus">
	<div class="col-xs-12">
	    <gravatar class="student-avatar" email="{{student.email}}" size="150"></gravatar>
		<div class="student-name">
			<h2>{{student.first_name + " " + student.last_name}}</h2>
		</div>
		<div class="student-email">
			<h4>{{student.email}}</h4>
		</div>
	</div>
</div>

<div>
	<div class="input-group" id="course-filter">
			<select class="form-control" ng-model="courseFilter" ng-options="course.id as course.name for course in coursesForAnalytics"></select>
			<span class="form-control-feedback text-muted fui fui-triangle-down"></span>
	</div>
</div>

<div class="course-detail">
	<div class="course" ng-repeat="course in coursesForAnalytics | filter : courseFilter : true">
		<pre>{{course | json}}</pre>
	</div>
</div>


</div>