// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "loginPanel.less";
@import "fourohfour.less";
@import "forms.less";
@import "dashboard.less";
@import "dashMenu.less";
@import "courses.less";
@import "coursesModal.less";

.modal{
    display: block;
    pointer-events: none;
    -webkit-user-select: text     !important;
    -moz-user-select: text        !important;
    -ms-user-select: text         !important;
}

.modal-dialog{
    margin-top: 50px; 
    pointer-events: auto;
}

.modal-backdrop{
    background-color: @gray-darker;
    width: 100%;
    height: 100%;
    z-index: 1039;
    opacity: 0.3;
}

@media (min-width: @screen-md-min) {
    .modal-dialog{
        margin-top: 50px; 
    }
}

.modal.ng-hide-add, .modal.ng-hide-remove {
  /* this is required as of 1.3x to properly
     apply all styling in a show/hide animation */
  transition: 0.2s linear all;
}

html, body {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.bodyWrapper {
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

html::-webkit-scrollbar { width: 0 !important }


body{
	background-color: @gray-lighter;
}

h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
}

#copyright{
	font-size: @font-size-small;
}

.yellow{
	color: @brand-primary !important;
}

.green{
	color: @brand-success !important;
}

.blue{
	color: @brand-info !important;
}

.orange{
	color: @brand-warning !important;
}

.red{
	color: @brand-danger !important;
}

.col-no-pad{
    padding-left: 0;
    padding-right: 0;
}


@media (min-width: @screen-md-min){
    *{
          -webkit-user-select: text     !important;
          -moz-user-select: text        !important;
          -ms-user-select: text         !important;
      }
}