.modal-header{
	button{
		i{
			font-size: 16px;
		}
	}
}

.input-group .form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
}

.modal-content{
	form{
		.form-row{
			height: 70px;
			margin-top: 20px;

			.input-group, select{
				width: 100%;
			}

			&:last-child{
				margin-bottom: 80px;
			}
		}

		.control-label{
			font-weight: normal;
		}
	}
}

#endDateDiv{
	margin-top: 20px;
}

@media (min-width: @screen-sm-min) {
	#endDateDiv{
		margin-top: 0;
	}

	.modal-content{
		form{
			.form-row{
				&:last-child{
					margin-bottom: 20px;
				}
			}
			}
		}
}