<div class="row">
	<div class="courseOpts">
		<div class="bottom-menu-wrapper">
			<div id="courseOptsLabel">
				<h3>Course Options</h3>
			</div>
			<div id="courseOptsMenu">
				<div class="col-xs-12" hm-tap="present()">
					<i class="fui fui-play"></i><h3>Present Next Session</h3>
				</div>
				<div class="col-xs-12" hm-tap="addSession(course)">
					<i class="fui fui-plus"></i><h3>Add Session</h3>
				</div>
				<div class="col-xs-12" hm-tap="loop()">
					<i class="fui fui-loop"></i><h3>Loop</h3>
				</div>
				<div class="col-xs-12" hm-tap="upload()">
					<i class="fui fui-upload"></i><h3>Upload Presentation</h3>
				</div>
				<div class="col-xs-12 courseOpts-last" hm-tap="ask()">
					<i class="fui fui-chat"></i><h3>Ask Question</h3>
				</div>
				<div class="col-xs-12"></div>
			</div>
		</div>
	</div>
	<div id="courseOptsDismiss">
		<div class="col-xs-12" hm-tap="dismiss()">
			<h3>Dismiss</h3>
		</div>
	</div>
</div>