<div class="container-fluid">
	<nav class="navbar nav-inverse navbar-fixed-top">
		<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar">
			    <div class="pull-left">
			      <a class="navbar-brand" href="/" tabindex=-1><div ng-class="{true: 'logo-small'}[logoSmall]"></div></a>
			      <button type="button" class="navbar-btn navbar-menu open-sidebar" hm-tap="toggleMenu()">
			        <span class="sr-only">Toggle sidebar</span>
			        <i class="fui fui-list" ng-if="!open"></i>
			        <i class="fui fui-cross" ng-if="open"></i>
			      </button>
		      </div>

		      <div ng-if="!mobile" class="pull-right navbar-menu-right">
			      <button type="button" class="navbar-btn navbar-user" ui-sref="dashboard.profile" ui-sref-active="navbar-btn-active">
			        <i class="fui fui-user"></i>
			      </button>
  			      <button type="button" class="navbar-btn navbar-settings" ui-sref="dashboard.settings" ui-sref-active="navbar-btn-active">
			        <i class="fui fui-gear"></i>
			      </button>
		      </div>
		    </div>
		</div> <!-- /container-fluid -->
	</nav>
</div>

<div class="menu menu-left" ng-class="{true: 'menu-open'}[open]">
	<ul>
		<h5>Main</h5>
		<menu-item ui-sref="dashboard.home" icon="home" name="Dashboard"></menu-item>
		<menu-item ui-sref="dashboard.courses" icon="info-circle" name="Courses"></menu-item>
		<menu-item ui-sref="dashboard.students" icon="user" name="Students" ng-if="currentUser.role == 'Instructor'"></menu-item>

		<div ng-if="mobile" class="profile-menu">
			<h5>Profile</h5>
			<menu-item icon="user" ui-sref="dashboard.profile" name="Profile"></menu-item>
			<menu-item icon="gear" ui-sref="dashboard.settings" name="Settings"></menu-item>
		</div>

		<div class="currentCourses">
			<h5>Current Courses</h5> 
			<button ng-if="currentUser.role == 'Instructor'" tabindex="0" type="button" hm-tap="addCourseModal()" class="btn btn-xs btn-info btn-enroll">Add</button>
			<button ng-if="currentUser.role == 'Student'" tabindex="0" type="button" hm-tap="enrollInCourseModal()" class="btn btn-xs btn-info btn-enroll">Enroll</button>
		</div>
		<div class="coursesMenu">
		<menu-item ng-repeat="course in courses" ui-sref="dashboard.coursesDetail({courseId: courses[$index].id})" icon="bookmark" name="{{courses[$index].name}}"></menu-item>
		</div>
	</ul>
</div>

<course-opts></course-opts>

<div class="container dashboard" hm-swiperight="openMenu()" hm-swipeleft="closeMenu()"  
				 hm-recognizer-options='[{"type":"swipe","directions":"DIRECTION_HORIZONTAL", "threshold":50},{"type":"tap"}]'
				 hm-tap="closeMenu()" ng-class="{true: 'dash-open'}[open]">
		<ui-view />
</div>