<div ng-controller="dashboardController" class="pan" hm-panright="openMenu()" hm-panleft="closeMenu()" hm-recognizer-options='{"type":"pan","directions":"DIRECTION_HORIZONTAL"}'>
<div class="container-fluid">
	<nav class="navbar nav-inverse navbar-fixed-top">
		<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar">
			    <div class="pull-left">
			      <a class="navbar-brand" href="/"><div ng-class="{true: 'logo-small'}[logoSmall]"></div></a>
			      <button type="button" class="navbar-btn navbar-menu visible-xs" hm-tap="toggleMenu()">
			        <span class="sr-only">Toggle navigation</span>
			        <i class="fui fui-list" ng-if="!open"></i>
			        <i class="fui fui-cross" ng-if="open"></i>
			      </button>
		      </div>

		      <div class="pull-right">
			      <button type="button" class="navbar-btn navbar-user" hm-tap="">
			        <i class="fui fui-user"></i>
			      </button>
  			      <button type="button" class="navbar-btn navbar-settings" hm-tap="">
			        <i class="fui fui-gear"></i>
			      </button>
		      </div>
		    </div>
		</div> <!-- /container-fluid -->
	</nav>
</div>

<div class="menu menu-left" ng-class="{true: 'menu-open'}[open]">
	<ul>
		<h5>Main</h5>
		<menu-item ui-sref="dashboard.home" icon="home" title="Dashboard"></menu-item>
		<menu-item ui-sref="dashboard.courses" icon="info-circle" title="Courses"></menu-item>
		<menu-item ui-sref="dashboard.students" icon="user" title="Students"></menu-item>

		<div class="currentCourses"><h5>Current Courses</h5> <i tabindex=0 
		ng-keypress="$event.which === 13 && addCourse()" hm-tap="addCourse()" 
		class="fui fui-plus headerIcon"></i></div>
		<menu-item ng-repeat="course in courses" ui-sref="dashboard.coursesDetail({id: courses[$index].id})" icon="home" title="{{courses[$index].title}}"></menu-item>
	</ul>
</div>

<div class="container dashboard" hm-tap="closeMenu()" ng-class="{true: 'dash-open'}[open]">
		<ui-view />
</div>

</div>