<tr tabindex=0>
	<td ng-if="!mobile" class="table-present collapse-xs"><a><i class="fui fui-play"></i></a></td>
	<td ui-sref="sessionsDetail({courseId: course.id, sessionId: course.activeSessionId})" class="table-courseName">
		{{course.name}}
		<span class="table-courseSub">{{course.instructor}}</span>
	</td>
	<td ui-sref="sessionsDetail({courseId: course.id, sessionId: course.activeSessionId})" class="collapse-xs">{{course.instructor}}</td>
	<td ui-sref="sessionsDetail({courseId: course.id, sessionId: course.activeSessionId})" class="collapse-xs">{{course.start | date : 'MM/dd/yyyy'}}</td>
	<td ui-sref="sessionsDetail({courseId: course.id, sessionId: course.activeSessionId})" class="collapse-xs">{{course.finish | date : 'MM/dd/yyyy'}}</td>
	<td ng-if="mobile" class="table-opts" hm-tap="openCourseOpts(course)"><i class="fui fui-plus-circle"></i></td>
	<td ng-if="!mobile" class="table-opts">
		<div class="dropdown" dropdown>
			<div class="dropdown-toggle" dropdown-toggle><i class="fui fui-plus-circle"></i></div>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#">Present Next Session</a></li>
				<li><a ui-sref="dashboard.coursesDetail({courseId: course.id, callback: 'openSessionModal'})">Add Session</a></li>
				<li class="divider"></li>
				<li><a href="#">Upload Presentation</a></li>
				<li><a href="#">Ask Question</a></li>
			</ul>
		</div>
	</td>
</tr>